.uik-dropdown {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 0;
  height: 0;
  margin: 0 !important;
  padding: 0 !important;

  .uik-dropdown__dropdown {
    position: absolute;
    width: 13.25rem;
    z-index: 101;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--shadow-strong);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    transform-origin: top center;
    padding: 8px;
    margin: 4px 0;

    &.enter {
      opacity: 0;
      transform: scale(0.8);
    }
  
    &.enter-active,
    &.enter-done,
    &.exit {
      opacity: 1;
      transform: none;
    }
  
    &.exit-active {
      opacity: 0;
      transform: scale(0.8);
    }

    &.enter-active,
    &.exit-active {
      transition: all 0.15s;
    }

    .uik-dropdown__item {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      border: none;
      background-color: transparent;
      transition: background-color 0.125s;
      padding: 10px 12px;
      border-radius: 8px;

      .uik-dropdown__item-icon {
        width: 1.063rem;
        max-height: 1.063rem;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 1.063rem;
          color: var(--text-light);
          transition: all 0.125s;
        }

        &  + .uik-dropdown__item-text {
          margin-left: 0.875rem;
        }
      }

      .uik-dropdown__item-text {
        font-size: 0.938rem;
        text-align: left;
        line-height: 1.3;
        font-weight: 600;
        color: var(--text);
        user-select: none;
      }

      &:hover {
        transition: none;
        background-color: var(--border-color-light);
        cursor: pointer;

        .uik-dropdown__item-icon {
          .uik-icon {
            color: var(--primary);
          }
        }
      }
      
      &:active {
        background-color: var(--border-color);
      }

      & + .uik-dropdown__item {
        margin-top: 1px;
      }
    }

    .uik-divider {
      margin: 8px -8px 0 -8px !important;
      width: calc(100% + 8px * 2);

      .uik-divider__line {
        background-color: var(--border-color);
      }

      & + * {
        margin-top: 8px;
      }
    }
  }

  &--bottom-right {
    .uik-dropdown__dropdown {
      left: 0;
      transform-origin: top left;
    }
  }

  &--bottom-left {
    .uik-dropdown__dropdown {
      left: unset;
      right: 0;
      transform-origin: top right;
    }
  }

  &--top {
    align-items: flex-end;

    .uik-dropdown__dropdown {
      bottom: 0;
      top: unset;
      transform-origin: bottom center;
    }
  }

  &--top-right {
    .uik-dropdown__dropdown {
      left: 0;
      top: unset;
      bottom: 0;
      transform-origin: bottom left;
    }
  }

  &--top-left {
    .uik-dropdown__dropdown {
      top: unset;
      left: unset;
      bottom: 0;
      right: 0;
      transform-origin: bottom right;
    }
  }

  .uik-dropdown__overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}









