.uik-form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  > * {
    width: 100%;
    
    &:not(.uik-label) + * {
      margin-top: 15px;
    }

    &.uik-label + * {
      margin-top: 10px;
    }
  }

  .uik-container {
    width: 100%;

    > * {
      width: auto;
      flex-grow: 1;
      flex-basis: 0;

      & + * {
        margin-left: 20px;
      }
    }
  }

  & + .uik-form {
    margin-top: 30px;
  }
}
