.uik-pool-actions {
  min-width: 420px;
  width: 100%;
  background-color: #eeebf6;
  border-radius: 15px;
  box-shadow: var(--shadow);
  padding: 30px;

  .uik-pool-actions__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;

    .uik-tabs {
      .uik-tabs__tab {
        font-size: 0.938rem;
        padding: 9px 13px;
      }
    }
  }

  .uik-pool-actions-manage__tokens {
    margin-top: 45px;
  }

  $sliderBaseColor: #cfc9e4;

  .uik-pool-actions-manage__slider {
    margin: 50px 0;
    padding: 0 5px;

    .uik-slider {
      .uik-slider__slider {
        .uik-slider__line {
          &::before {
            background-color: $sliderBaseColor;
          }
        }

        .uik-slider__helpers {
          .uik-slider__helper {
            &:not(.uik-slider__helper--passed):not(:hover) {
              background: darken($sliderBaseColor, 5%);
            }

            .uik-slider__helper-text {
              font-weight: 500;
              color: darken($sliderBaseColor, 7.5%);
            }

            &:hover {
              .uik-slider__helper-text {
                color: darken($sliderBaseColor, 30%);
              }
            }
          }
        }
      }
    }
  }

  .uik-pool-actions-manage__cta {
    width: 100%;

    .uik-icon {
      margin-left: -10px;
    }
  }

  .uik-pool-actions-manage-token {
    width: 100%;
    border-radius: 15px;
    background-color: #e6e2f1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.125s;

    .uik-pool-actions-manage-token__token {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 15px;
      padding-right: 0;

      .uik-pool-actions-manage-token__image {
        border-radius: 50%;
        width: 44px;
        min-width: 44px;
        height: 44px;
        background-color: #dad5ea;
        background-position: center;
        background-size: cover;
      }

      .uik-pool-actions-manage-token__info {
        margin-left: 13px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;

        .uik-pool-actions-manage-token__symbol {
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 500;
          color: var(--text);
          white-space: nowrap;
          line-height: 1.4;
        }

        .uik-pool-actions-manage-token__amount {
          font-size: 13px;
          font-weight: 500;
          color: hsla(
            var(--text--h),
            var(--text--s),
            var(--text--l),
            0.5
          );
          white-space: nowrap;
          line-height: 1.3;
          padding-left: 0.5px;
        }
      }
    }

    .uik-pool-actions-manage-token__value {
      flex-grow: 1;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      padding-left: 15px;
      position: relative;

      input {
        width: 100%;
        text-align: right;
        font-size: 20px;
        font-weight: 600;
        outline: none !important;
        padding: 10px 15px 30px 15px;
        border: none;
        background-color: transparent;
        color: #a328ab;

        &::placeholder {
          color: hsla(
            var(--text-light--h),
            var(--text-light--s),
            var(--text-light--l),
            0.5
          );
          font-weight: 500;
        }
      }

      .uik-pool-actions-manage-token__price {
        font-size: 13px;
        font-weight: 500;
        color: hsla(
          var(--text--h),
          var(--text--s),
          var(--text--l),
          0.5
        );
        white-space: nowrap;
        line-height: 1;
        padding-left: 0.5px;
        position: absolute;
        right: 16px;
        bottom: 15px;
        pointer-events: none;

        &--empty {
          color: hsla(
            var(--text-light--h),
            var(--text-light--s),
            var(--text-light--l),
            0.5
          );
        }
      }
    }

    & + .uik-pool-actions-manage-token {
      margin-top: 10px;
    }

    &:hover {
      background-color: darken(#e6e2f1, 1%);
      box-shadow: inset 0 0 0 1px darken(#e6e2f1, 5%);
    }

    &--focused {
      &, &:hover {
        background-color: #eeebf6;
        box-shadow: inset 0 0 0 1px #a328ab, 0 10px 15px -8px rgba(#a328ab, 0.25);
      }
    }
  }
}