.uik-reef-amount {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  .reef-icon {
    width: 1.125rem;
    height: 1.125rem;
    
    & + .uik-reef-amount__value {
      margin-left: 0.438rem;
    }
  }

  .uik-reef-amount__value {
    color: var(--primary);
    font-size: 1rem;
    transform: translateY(0.063rem);
    line-height: 1;
    font-weight: 900;
    background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}