.uik-table {
  width: 100%;
  
  .uik-table__wrapper {
    width: 100%;
    overflow: auto;
    
    .uik-table__table {
      border: none;
      width: 100%;
      border-collapse: collapse;  
    }

    & + .uik-paginate {
      margin-top: 25px;
    }
  }

  &--seamless {
    .uik-table-head {
      background-color: var(--bg);
    }

    .uik-table-body {
      .uik-table-row {
        &:nth-child(odd) {
          background: #e4e0ef;
        }
      
        &:hover {
          background: darken(#e4e0ef, 3%);
        }

        &--clickable {
          &:active {
            background: darken(#e4e0ef, 6%);
          }
        }
      }
    }

    .uik-paginate {
      .uik-paginate__wrapper {
        background: #e4e0ef;

        button {
          &:not(.uik-paginate__page--current) {
            &:hover {
              background: darken(#e4e0ef, 6%);
            }

            &:active {
              background: darken(#e4e0ef, 10%);
            }
          }
        }
      }
    }
  }

  &:not(.uik-table--seamless) {
    padding: 15px 25px 25px 25px;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--shadow);

    .uik-table-body {
      .uik-table-row {
        &:nth-child(odd) {
          background-color: hsl(
            var(--border-color--h),
            var(--border-color--s),
            calc(var(--border-color--l) + 2.5%),
          );
        }
      
        &:hover {
          background-color: var(--border-color);
        }

        &--clickable {
          &:active {
            background-color: hsl(
              var(--border-color--h),
              var(--border-color--s),
              calc(var(--border-color--l) - 2.5%),
            );
          }
        }
      }
    }
  }
}

.uik-table-row {
  &--clickable {
    &:hover {
      cursor: pointer;
    }
  }
}

.uik-table-head {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.uik-table-head-cell {
  .uik-table-head-cell__content {
    padding: 5px 10px;
    min-height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: 0.875rem;
    color: var(--text);
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
  }

  &--center {
    .uik-table-head-cell__content {
      justify-content: center;
      text-align: center;
    }
  }

  &--right {
    .uik-table-head-cell__content {
      justify-content: flex-end;
      text-align: right;
    }
  }

  &:first-child {
    .uik-table-head-cell__content {
      padding-left: 20px;
    }
  }

  &:last-child {
    .uik-table-head-cell__content {
      padding-right: 20px;
    }
  }
}

.uik-table-cell {
  $radius: 15px;

  &:first-child {
    border-radius: $radius 0 0 $radius;
  }

  &:last-child {
    border-radius: 0 $radius $radius 0;
  }

  .uik-table-cell__content {
    padding: 5px 10px;
    min-height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.3;
    color: var(--text);
    font-weight: 500;
    width: 100%;
    white-space: nowrap;
  
    > a {
      display: inline-block;
      text-decoration: none;
      color: var(--primary);
      font-weight: 800;
      background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      transition: all 0.15s;

      &:hover {
        filter: brightness(1.35);
      }

      &:active {
        filter: brightness(1.5);
      }
    }
  }

  &--center {
    .uik-table-cell__content {
      justify-content: center;
      text-align: center;
    }
  }

  &--right {
    .uik-table-cell__content {
      justify-content: flex-end;
      text-align: right;
    }
  }

  &:first-child {
    .uik-table-cell__content {
      padding-left: 20px;
    }
  }

  &:last-child {
    .uik-table-cell__content {
      padding-right: 20px;
    }
  }
}

.uik-paginate {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
  .uik-paginate__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 8px;
    background-color: hsl(
      var(--border-color--h),
      var(--border-color--s),
      calc(var(--border-color--l) + 2.5%),
    );

    button {
      border: none;
      background-color: transparent;
      font-size: 0.813rem;
      line-height: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 10px;
      font-weight: 500;
      min-width: calc(0.813rem + 16px);
      min-height: calc(0.813rem + 16px);
      border-radius: 9px;
      color: var(--text);
      user-select: none;
      
      &:not(:hover):not(.uik-paginate__page--current) {
        transition: background-color 0.1s, color 0.1s;
      }
      
      .uik-icon {
        width: 0.375rem;
        height: 0.625rem;
      }

      &:hover {
        cursor: pointer;
        background-color: hsl(
          var(--border-color--h),
          var(--border-color--s),
          calc(var(--border-color--l) - 5%),
        );
        color: var(--primary);
      }
  
      &:active {
        background-color: hsl(
          var(--border-color--h),
          var(--border-color--s),
          calc(var(--border-color--l) - 10%),
        );
        color: var(--primary);
      }
    }

    .uik-paginate__page {
      &--current {
        animation: uik-paginate-current-page 0.2s;

        @keyframes uik-paginate-current-page {
          from {
            transform: scale(0.65);
          }
        }

        &, &:hover, &:active {
          font-weight: 500;
          color: white;
          background: var(--primary);
          box-shadow: 0 5px 15px -5px var(--primary);
        }

        & + .uik-paginate__page {
          margin-left: 6px;
        }
      }

      & + .uik-paginate__page--current {
        margin-left: 6px;
      }
    }

    .uik-paginate__first,
    .uik-paginate__prev,
    .uik-paginate__next,
    .uik-paginate__last {
      color: var(--text-light);
    }

    .uik-paginate__next,
    .uik-paginate__last {
      .uik-icon {
        transform: scaleX(-1);
      }
    }
  }
}

// Other components

.uik-table-cell {
  .uik-button {
    font-size: 0.813rem;
    padding: 10px 14px;
    border-radius: 10px;

    & + .uik-button {
      margin-left: 10px;
    }
  }

  .uik-reef-amount {
    flex-direction: row-reverse;

    .uik-reef-amount__value {
      font-size: 0.875rem;
      transform: none;
      margin-left: 0;
    }

    .reef-icon {
      margin-left: 0.375rem;
    }
  }
}